body{background-color: #cad593;
    font-family: 'Jost', monospace;
    padding: 20px;
    color: #2a3c24;
    flex-wrap: wrap;
    justify-content: center;
    }
main{border: 5px double #78290f;
    padding:2%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right:5%;}

/*NOT WORKING*/
.nav{color: #78290f;}

/*DETAILS*/
#name{font-size: xx-large;}
#contact{font-size: large;
    text-align: center;}
#socials{text-align: center;}
h1{font-size: xx-large;
text-align: center;}
h2{font-size: large;
}

.links{color: #2a3c24;}
.links:visited{color:#2a3c24;}
.links:hover{color: #A1C349;}

/*FIRST LINE BUTTONS*/
#firstrow {
    font-size: 20px; 
    line-height: 20px;
    text-decoration: none; 
    padding: 14px; 
    justify-content: center;
    text-align: center;
    }
#firstrow:visited{
    text-decoration: none;
}
#firstrow:hover {
    text-decoration: none; }
#firstrow:active {
    text-decoration: none; 
}
#background{border-radius: 0px; 
    border: 5px double #2a3c24;
    color: #78290f;
    padding: 5px;
}
#education{border-radius: 0px; 
    border: 5px double #2a3c24;
    color: #78290f;
    padding: 5px;
}
#professional{border-radius: 0px; 
    border: 5px double #2a3c24;
    color: #78290f;
    padding: 5px;
}
#background:hover{background: #A1C349;
}
#education:hover{background: #A1C349;
}
#professional:hover{background: #A1C349;
}
    
/*SECOND LINE BUTTONS*/
#secondrow {
        color: #2a3c24; 
        font-size: 20px; 
        line-height: 20px;
        text-decoration: none; 
        padding: 14px; 
        justify-content: center;
        text-align: center;
        }
#secondrow:visited{
        text-decoration: none;
        }
#secondrow:hover {
        text-decoration: none; 
    }
#secondrow:active {
        background: #2a3c24;
        text-decoration: none; 
    }
#personal{border-radius: 0px; 
            border: 5px double#2a3c24;
            color: #78290f;
            padding: 5px;
        }
#laisure{border-radius: 0px; 
            border: 5px double #2a3c24;
            color: #78290f;
            padding: 5px;
        }
#personal:hover{background: #A1C349;
        }
#laisure:hover{background: #A1C349;
        }

/*lISTS*/



