body{background-color: gray;
    font-family: 'Jost', monospace;
    padding: 20px;
    color: orange;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right:5%;
    }
main{border: 5px double orange;
    padding:2%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right:5%;}

/*DETAILS*/
#name{font-size: xx-large;}
h1{font-size: large;
    text-align: center;}
p{text-align: center;}


.links:visited{color:azure;}
.links:hover{color: azure;}

/*FIRST LINE BUTTONS*/
#firstrow {
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    line-height: 20px;
    text-decoration: none; 
    padding: 14px; 
    border-radius: 0px; 
    border: 5px double rgba(28, 110, 164, 0.98);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right:5%;
    justify-content: center;
    text-align: center;
    }
#firstrow:visited{
    text-decoration: none;
}
#firstrow:hover {
    background: #1C6EA4;
    text-decoration: none; }
#firstrow:active {
    background: #144E75;
    text-decoration: none; }
    
/*SECOND LINE BUTTONS*/
#secondrow {
        color: rgb(255, 255, 255); 
        font-size: 20px; 
        line-height: 20px;
        text-decoration: none; 
        padding: 14px; 
        border-radius: 0px; 
        border: 5px double rgba(28, 110, 164, 0.98);
        justify-content: center;
        text-align: center;
        }
#secondrow:visited{
        text-decoration: none;
        }
#secondrow:hover {
        background: #1C6EA4;
        text-decoration: none; }
#secondrow:active {
        background: #144E75;
        text-decoration: none; }


